<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="sourcepath_bslash" value="D:/elk1/JSON_DATA/Archive/" />
    <add key="sourcepath_fslash" value="D:\elk1\JSON_DATA\Archive\" />
    <add key="destinationfoldername" value="\Moved\" />
    <add key="indexname" value="jsondata" />
    <add key="documenttype" value="audit" />
    <add key="elasticsearchhost" value="http://localhost:9200/" />
    <add key="schedulertime" value="1" />

  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>